In [3]:
! pip install --upgrade --quiet  langchain langchain-community langchain-openai

In [28]:
! pip install --quiet pandas

In [8]:
import getpass
import os
from langchain_openai import AzureChatOpenAI

In [12]:
OPENAI_API_VERSION = ""
AZURE_OPENAI_ENDPOINT = ""
AZURE_OPENAI_API_KEY = ""

os.environ["OPENAI_API_TYPE"] = "azure"
os.environ["OPENAI_API_VERSION"] = OPENAI_API_VERSION
os.environ["AZURE_OPENAI_ENDPOINT"] = AZURE_OPENAI_ENDPOINT
os.environ["AZURE_OPENAI_API_KEY"] = AZURE_OPENAI_API_KEY

model_response_generation = ''
llm = AzureChatOpenAI(openai_api_version="", azure_deployment=model_response_generation, )

In [10]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///Chinook.db")
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT * FROM Artist LIMIT 10;")

sqlite
['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

"[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains'), (6, 'Antônio Carlos Jobim'), (7, 'Apocalyptica'), (8, 'Audioslave'), (9, 'BackBeat'), (10, 'Billy Cobham')]"

In [68]:
from langchain.chains import create_sql_query_chain
from langchain_openai import ChatOpenAI

chain = create_sql_query_chain(llm, movies_db)
response = chain.invoke({"question": "Suggest some good movies from de caprio"})
response

'SELECT "movie_title", "imdb_score" FROM movies_details WHERE "actor_1_name" = \'Leonardo DiCaprio\' ORDER BY "imdb_score" DESC LIMIT 5'

In [69]:
db.run(response)

"[('Inception\\xa0', 8.8), ('Django Unchained\\xa0', 8.5), ('The Departed\\xa0', 8.5), ('The Wolf of Wall Street\\xa0', 8.2), ('The Revenant\\xa0', 8.1)]"

In [20]:
chain.get_prompts()[0].pretty_print()

You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

In [22]:
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool

execute_query = QuerySQLDataBaseTool(db=db)
write_query = create_sql_query_chain(llm, db)
chain = write_query | execute_query
chain.invoke({"question": "How many employees are there"})

'[(8,)]'

In [23]:
from operator import itemgetter

from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

answer_prompt = PromptTemplate.from_template(
    """Given the following user question, corresponding SQL query, and SQL result, answer the user question.

Question: {question}
SQL Query: {query}
SQL Result: {result}
Answer: """
)

answer = answer_prompt | llm | StrOutputParser()
chain = (
    RunnablePassthrough.assign(query=write_query).assign(
        result=itemgetter("query") | execute_query
    )
    | answer
)

chain.invoke({"question": "How many employees are there"})

'There are 8 employees.'

In [24]:
from langchain_community.agent_toolkits import create_sql_agent

agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True)

In [25]:
agent_executor.invoke(
    {
        "input": "List the total sales per country. Which country's customers spent the most?"
    }
)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
Invoking: `sql_db_schema` with `{'table_names': 'Customer, Invoice'}`
responded: The tables 'Customer' and 'Invoice' seem to be related to the query as they could contain information about sales and customers' countries. I'll query the schema of these tables.


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT BillingCountry, SUM(Total) as TotalSales FROM Invoice GROUP BY BillingCountry ORDER BY TotalSales DESC LIMIT 10'}`
responded: The 'Invoice' table has a 'Total' field which seems to represent the total amount of a sale. The 'Customer' table has a 'Country' field representing the country of the customer. However, the 'Invoice' table also has a 'BillingCountry' field. To ensure that we are using the correct data, let's use the 'BillingCountry' field from the 'Invoice' table as it directly relates to the sales data.

I am going to write a SQL query to sum the 'Total' sales for each country and then order the results in descending order to find the country with the highest sales. I will also limit the results to 10 as per the specifications.

Let's write and check the query.

SELECT BillingCountry, SUM(Total) as TotalSales FROM Invoice GROUP BY BillingCountry ORDER BY TotalSales DESC LIMIT 10
Invoking: `sql_db_query` with `{'query': 'SELECT BillingCountry, SUM(Total) as TotalSales FROM Invoice GROUP BY BillingCountry ORDER BY TotalSales DESC LIMIT 10'}`


[('USA', 523.0600000000003), ('Canada', 303.9599999999999), ('France', 195.09999999999994), ('Brazil', 190.09999999999997), ('Germany', 156.48), ('United Kingdom', 112.85999999999999), ('Czech Republic', 90.24000000000001), ('Portugal', 77.23999999999998), ('India', 75.25999999999999), ('Chile', 46.62)]The customers from the USA spent the most with a total sales amount of $523.06.

> Finished chain.

{'input': "List the total sales per country. Which country's customers spent the most?",
 'output': 'The customers from the USA spent the most with a total sales amount of $523.06.'}

# Movies Database

In [44]:
import pandas as pd
import sqlite3

In [30]:
movies_df = pd.read_csv("movie_metadata.csv")

In [43]:
# clean up the column names 

movies_df.columns = movies_df.columns.str.strip()

In [45]:
conn = sqlite3.connect('movies.db')

In [46]:
movies_df.to_sql("movies_details", conn, if_exists="replace")
conn.close()

In [70]:
movies_db = SQLDatabase.from_uri("sqlite:///movies.db")
print(movies_db.dialect)
print(movies_db.get_usable_table_names())
movies_db.run("SELECT * FROM movies_details LIMIT 10;")

sqlite
['movies_details']

'[(0, \'Color\', \'James Cameron\', 723.0, 178.0, 0.0, 855.0, \'Joel David Moore\', 1000.0, 760505847.0, \'Action|Adventure|Fantasy|Sci-Fi\', \'CCH Pounder\', \'Avatar\\xa0\', 886204, 4834, \'Wes Studi\', 0.0, \'avatar|future|marine|native|paraplegic\', \'http://www.imdb.com/title/tt0499549/?ref_=fn_tt_tt_1\', 3054.0, \'English\', \'USA\', \'PG-13\', 237000000.0, 2009.0, 936.0, 7.9, 1.78, 33000), (1, \'Color\', \'Gore Verbinski\', 302.0, 169.0, 563.0, 1000.0, \'Orlando Bloom\', 40000.0, 309404152.0, \'Action|Adventure|Fantasy\', \'Johnny Depp\', "Pirates of the Caribbean: At World\'s End\\xa0", 471220, 48350, \'Jack Davenport\', 0.0, \'goddess|marriage ceremony|marriage proposal|pirate|singapore\', \'http://www.imdb.com/title/tt0449088/?ref_=fn_tt_tt_1\', 1238.0, \'English\', \'USA\', \'PG-13\', 300000000.0, 2007.0, 5000.0, 7.1, 2.35, 0), (2, \'Color\', \'Sam Mendes\', 602.0, 148.0, 0.0, 161.0, \'Rory Kinnear\', 11000.0, 200074175.0, \'Action|Adventure|Thriller\', \'Christoph Waltz\', \'Spectre\\xa0\', 275868, 11700, \'Stephanie Sigman\', 1.0, \'bomb|espionage|sequel|spy|terrorist\', \'http://www.imdb.com/title/tt2379713/?ref_=fn_tt_tt_1\', 994.0, \'English\', \'UK\', \'PG-13\', 245000000.0, 2015.0, 393.0, 6.8, 2.35, 85000), (3, \'Color\', \'Christopher Nolan\', 813.0, 164.0, 22000.0, 23000.0, \'Christian Bale\', 27000.0, 448130642.0, \'Action|Thriller\', \'Tom Hardy\', \'The Dark Knight Rises\\xa0\', 1144337, 106759, \'Joseph Gordon-Levitt\', 0.0, \'deception|imprisonment|lawlessness|police officer|terrorist plot\', \'http://www.imdb.com/title/tt1345836/?ref_=fn_tt_tt_1\', 2701.0, \'English\', \'USA\', \'PG-13\', 250000000.0, 2012.0, 23000.0, 8.5, 2.35, 164000), (4, None, \'Doug Walker\', None, None, 131.0, None, \'Rob Walker\', 131.0, None, \'Documentary\', \'Doug Walker\', \'Star Wars: Episode VII - The Force Awakens\\xa0            \', 8, 143, None, 0.0, None, \'http://www.imdb.com/title/tt5289954/?ref_=fn_tt_tt_1\', None, None, None, None, None, None, 12.0, 7.1, None, 0), (5, \'Color\', \'Andrew Stanton\', 462.0, 132.0, 475.0, 530.0, \'Samantha Morton\', 640.0, 73058679.0, \'Action|Adventure|Sci-Fi\', \'Daryl Sabara\', \'John Carter\\xa0\', 212204, 1873, \'Polly Walker\', 1.0, \'alien|american civil war|male nipple|mars|princess\', \'http://www.imdb.com/title/tt0401729/?ref_=fn_tt_tt_1\', 738.0, \'English\', \'USA\', \'PG-13\', 263700000.0, 2012.0, 632.0, 6.6, 2.35, 24000), (6, \'Color\', \'Sam Raimi\', 392.0, 156.0, 0.0, 4000.0, \'James Franco\', 24000.0, 336530303.0, \'Action|Adventure|Romance\', \'J.K. Simmons\', \'Spider-Man 3\\xa0\', 383056, 46055, \'Kirsten Dunst\', 0.0, \'sandman|spider man|symbiote|venom|villain\', \'http://www.imdb.com/title/tt0413300/?ref_=fn_tt_tt_1\', 1902.0, \'English\', \'USA\', \'PG-13\', 258000000.0, 2007.0, 11000.0, 6.2, 2.35, 0), (7, \'Color\', \'Nathan Greno\', 324.0, 100.0, 15.0, 284.0, \'Donna Murphy\', 799.0, 200807262.0, \'Adventure|Animation|Comedy|Family|Fantasy|Musical|Romance\', \'Brad Garrett\', \'Tangled\\xa0\', 294810, 2036, \'M.C. Gainey\', 1.0, \'17th century|based on fairy tale|disney|flower|tower\', \'http://www.imdb.com/title/tt0398286/?ref_=fn_tt_tt_1\', 387.0, \'English\', \'USA\', \'PG\', 260000000.0, 2010.0, 553.0, 7.8, 1.85, 29000), (8, \'Color\', \'Joss Whedon\', 635.0, 141.0, 0.0, 19000.0, \'Robert Downey Jr.\', 26000.0, 458991599.0, \'Action|Adventure|Sci-Fi\', \'Chris Hemsworth\', \'Avengers: Age of Ultron\\xa0\', 462669, 92000, \'Scarlett Johansson\', 4.0, \'artificial intelligence|based on comic book|captain america|marvel cinematic universe|superhero\', \'http://www.imdb.com/title/tt2395427/?ref_=fn_tt_tt_1\', 1117.0, \'English\', \'USA\', \'PG-13\', 250000000.0, 2015.0, 21000.0, 7.5, 2.35, 118000), (9, \'Color\', \'David Yates\', 375.0, 153.0, 282.0, 10000.0, \'Daniel Radcliffe\', 25000.0, 301956980.0, \'Adventure|Family|Fantasy|Mystery\', \'Alan Rickman\', \'Harry Potter and the Half-Blood Prince\\xa0\', 321795, 58753, \'Rupert Grint\', 3.0, \'blood|book|love|potion|professor\', \'http://www.imdb.com/title/tt0417741/?ref_=fn_tt_tt_1\', 973.0, \'English\', \'UK\', \'PG\', 250000000.0, 2009.0, 11000.0, 7.5, 2.35, 10000)]'

In [91]:
from langchain.chains import create_sql_query_chain
from langchain_openai import ChatOpenAI

chain = create_sql_query_chain(llm, movies_db)
response = chain.invoke({"question": "de caprio horror movies"})
response

'SELECT "movie_title", "genres", "director_name" FROM movies_details WHERE "actor_1_name" LIKE \'%de caprio%\' AND "genres" LIKE \'%Horror%\' LIMIT 5'

In [92]:
movies_db.run(response)

''